.vscode/
node_modules
.env

# NPM registry
package-lock.json

# Hardhat files
/cache
/artifacts

# Eth Security Toolbox files
/contracts/crytic-export
/crytic-export

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
